<br>
<br>
<h2 class="mb-5 flex items-center gap-2 text-lg font-semibold text-gray-900 dark:text-white" id="education">
  <span class="inline-block size-2 rounded-full bg-teal-500"></span>
  {{ 'academicEducation.name' | transloco }}
</h2>

<!-- Timeline -->
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
      <div class="relative z-10 size-7 flex justify-center items-center rounded-full bg-teal-50 ring-2 ring-teal-500/30 dark:bg-teal-900/30">
        <svg class="shrink-0 size-4 text-teal-600 dark:text-teal-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/>
          <path d="M22 10v6"/>
          <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/>
        </svg>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-500 dark:text-gray-400">
        {{ 'academicEducation.degree1date' | transloco }}
      </h3>

      <p class="font-semibold text-md text-gray-800 dark:text-gray-100">
        {{ 'academicEducation.degree1name' | transloco }}
      </p>

      <p class="mt-1 text-md text-gray-600 dark:text-gray-300">
        {{ 'academicEducation.degree1institution' | transloco }}
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
      <div class="relative z-10 size-7 flex justify-center items-center rounded-full bg-teal-50 ring-2 ring-teal-500/30 dark:bg-teal-900/30">
        <svg class="shrink-0 size-4 text-teal-600 dark:text-teal-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/>
          <path d="M22 10v6"/>
          <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/>
        </svg>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-500 dark:text-gray-400">
        {{ 'academicEducation.degree2date' | transloco }}
      </h3>

      <p class="font-semibold text-md text-gray-800 dark:text-gray-100">
        {{ 'academicEducation.degree2name' | transloco }}
      </p>

      <p class="mt-1 text-md text-gray-600 dark:text-gray-300">
        {{ 'academicEducation.degree2institution' | transloco }}
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
