<br>
<br>
<h2 class="mb-5 flex items-center gap-2 text-lg font-semibold text-gray-900 dark:text-white" id="experience">
  <span class="inline-block size-2 rounded-full bg-teal-500"></span>
  {{ 'experience.experience' | transloco }}
</h2>

<!-- Timeline -->
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
      <div class="relative z-10 size-7 flex justify-center items-center rounded-full bg-white ring-2 ring-teal-500/30 dark:bg-neutral-100">
        <img class="shrink-0 size-6 rounded-full" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoUnitechSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-500 dark:text-gray-400">
        {{ 'experience.work2time' | transloco }}
      </h3>

      <p class="font-semibold text-md text-teal-700 dark:text-teal-400">
       {{ 'experience.work2rol' | transloco }}
      </p>

      <p class="mt-1 text-md text-gray-600 dark:text-gray-300">
        {{ 'experience.work2desc' | transloco }}
      </p>

    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
      <div class="relative z-10 size-7 flex justify-center items-center rounded-full bg-white ring-2 ring-teal-500/30 dark:bg-neutral-100">
        <img class="shrink-0 size-6 rounded-full" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
            src="assets/logoBernardoLewSinFondo.png"
            alt="Avatar">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-500 dark:text-gray-400">
        {{ 'experience.work1time' | transloco }}
      </h3>

      <p class="font-semibold text-md text-teal-700 dark:text-teal-400">
        {{ 'experience.work1rol' | transloco }}
      </p>

      <p class="mt-1 text-md text-gray-600 dark:text-gray-300">
        {{ 'experience.work1desc' | transloco }}
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
